@import 'colors';

.card-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10vh 10vw;
  max-width: 70vw;
  max-height: 80vh;
  z-index: 10;
  overflow: auto;
  background-color: $greengrey;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    display: none;
  }
}

.card-text {
  margin: 3rem;
}