@import 'colors';

.nav-container {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 80px;
  width: 160px;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  background-color: $darker-greengrey;
  z-index: 5;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    display: none;
  }
}

.nav-animator {
  padding: 0;
}

.hamburger {
  cursor: pointer;
  border: none;
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 8;
  background-color: transparent;
  &::before {
    background-color: #aeb8b4;
    border-radius: 50%;
    content: "";
    height: 36px;
    left: calc(50% - 1px);
    top: calc(50% - 3px);
    position: absolute;
    width: 36px;
    z-index: -1;
    transform: translate(-50%, -50%);
  }
}

.nav-logo {
  width: 80px;
  opacity: 0.9;
  margin-bottom: 40px;
  margin-left: 40px;
}

.nav-description {
  margin-bottom: 40px;
  margin-left: 40px;
}

.socials, .imprint, .contact {
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 40px;
  margin-left: 40px;
}

.nav-link {
  &::after {
    border-top: .1em solid white;
    content: "";
    position: absolute;
      width: 0%;
      bottom: .65em;
      left: 0;
    transition: width .6s cubic-bezier(0,.5,0,1);
  }
  &:hover::after {
    width: 100%;
  }
}
